{% extends 'base.html' %}

{% block basecontent %}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 my-3 order-1">
                <form method="POST"> {% csrf_token %}
                    <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name='genrekey'>
                                <option selected>Choose Genre</option>
                                {% for genre in genres%}
                                <option value="{{genre.pk}}">{{genre.genre}}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Button</button>
                            </div>
                    </div>
                </form>
            </div>
{% block content %}

{% endblock %}
        </div>
    </div>
</div>

{% endblock basecontent %}